openpyxl
symspellpy
sentence-transformers
python-louvain
pandas
sastrawi
beautifulsoup4
hdbscan
wordcloud
matplotlib
numpy
faiss-cpu
scikit-learn
plotly
seaborn
joblib
streamlit
numpy
nltk
networkx
gensim